{{ appSecondaryNavigation({
  label: "Placement school navigation",
  items: [
    {
      href: supportBaseUrl,
      text: "School details",
      active: secondaryNavId == "details"
    },
    {
      href: supportBaseUrl + "/partnerships",
      text: "Partnerships",
      active: secondaryNavId == "partnerships"
    },
    {
      href: supportBaseUrl + "/activity",
      text: "Activity log",
      active: secondaryNavId == "activity"
    } if 1==0
  ]
}) }}
