{% extends "layouts/support.njk" %}

{% set primaryNavId = "placementSchools" %}
{% set secondaryNavId = "details" %}

{% set title = placementSchool.name %}
{% set caption = "Placement school" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "./_page-heading.njk" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">School details</h2>

    {% set schoolTypeGroupHtml %}
      <ul class="govuk-list">
        <li>
          {{ placementSchool.schoolGroup.name }}
        </li>
        <li class="govuk-!-font-size-16">
          {{ placementSchool.schoolType.name }}
        </li>
      </ul>
    {% endset %}

    {% set educationPhaseHtml %}
      <ul class="govuk-list">
        <li>
          {{ placementSchool.schoolEducationPhase.name }}
        </li>
        {% if placementSchool.schoolDetail.statutoryLowAge and placementSchool.schoolDetail.statutoryHighAge %}
          <li class="govuk-!-font-size-16">
            Ages {{ placementSchool.schoolDetail.statutoryLowAge }} to {{ placementSchool.schoolDetail.statutoryHighAge }}
          </li>
        {% endif %}
      </ul>
    {% endset %}

    {% set boardingProvision = placementSchool.schoolDetail.boarder.name if placementSchool.schoolDetail and placementSchool.schoolDetail.boarder else '' %}
    {% set nurseryProvision = placementSchool.schoolDetail.nurseryProvision.name if placementSchool.schoolDetail and placementSchool.schoolDetail.nurseryProvision else '' %}

    {% set addressHtml %}
      {% if placementSchool.schoolAddress.line1.length %}
        {{ placementSchool.schoolAddress.line1 }}<br aria-hidden="true">
      {% endif %}
      {% if placementSchool.schoolAddress.line2.length %}
        {{ placementSchool.schoolAddress.line2 }}<br aria-hidden="true">
      {% endif %}
      {% if placementSchool.schoolAddress.line3.length %}
        {{ placementSchool.schoolAddress.line3 }}<br aria-hidden="true">
      {% endif %}
      {% if placementSchool.schoolAddress.town.length %}
        {{ placementSchool.schoolAddress.town }}<br aria-hidden="true">
      {% endif %}
      {% if placementSchool.schoolAddress.county.length %}
        {{ placementSchool.schoolAddress.county }}<br aria-hidden="true">
      {% endif %}
      {% if placementSchool.schoolAddress.postcode.length %}
        {{ placementSchool.schoolAddress.postcode }}
      {% endif %}
    {% endset %}

    {% set websiteHtml %}
      <a class="govuk-link"
        href="{{ placementSchool.website }}"
        target="_blank"
        rel="noreferrer nofollow">
        {{ placementSchool.website }} (opens in new tab)
      </a>
    {% endset %}

    {% set telephoneHtml %}
      <a class="govuk-link"
        href="tel:{{ placementSchool.telephone }}">
        {{ placementSchool.telephone }}
      </a>
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "School status"
          },
          value: {
            text: placementSchool.schoolStatus.name if placementSchool.schoolStatus.name.length else "Not known",
            classes: "govuk-hint" if not placementSchool.schoolStatus.name.length
          }
        } if 1==0,
        {
          key: {
            text: "UK provider reference number (UKPRN)"
          },
          value: {
            text: placementSchool.ukprn if placementSchool.ukprn.length else "Not known",
            classes: "govuk-hint" if not placementSchool.ukprn.length
          }
        } if 1==0,
        {
          key: {
            text: "Unique reference number (URN)"
          },
          value: {
            text: placementSchool.urn if placementSchool.urn.length else "Not known",
            classes: "govuk-hint" if not placementSchool.urn.length
          }
        } if 1==0,
        {
          key: {
            text: "School type"
          },
          value: {
            html: schoolTypeGroupHtml
          }
        },
        {
          key: {
            text: "Education phase"
          },
          value: {
            html: educationPhaseHtml
          }
        },
        {
          key: {
            text: "Boarding provision"
          },
          value: {
            text: boardingProvision if boardingProvision.length else "Not known",
            classes: "govuk-hint" if not boardingProvision.length
          }
        },
        {
          key: {
            text: "Nursery provision"
          },
          value: {
            text: nurseryProvision if nurseryProvision.length else "Not known",
            classes: "govuk-hint" if not nurseryProvision.length
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Contact details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Address"
          },
          value: {
            html: addressHtml if addressHtml.length else "Not known",
            classes: "govuk-hint" if not addressHtml.length
          }
        },
        {
          key: {
            text: "Website"
          },
          value: {
            html: websiteHtml if placementSchool.website and placementSchool.website.length else "Not known",
            classes: "govuk-hint" if not placementSchool.website or not placementSchool.website.length
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            html: telephoneHtml if placementSchool.telephone and placementSchool.telephone.length else "Not known",
            classes: "govuk-hint" if not placementSchool.telephone or not placementSchool.telephone.length
          }
        }
      ]
    }) }}

    <p class="govuk-body">
      <a href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/{{placementSchool.urn}}"
        target="_blank"
        rel="noreferrer nofollow"
        class="govuk-link">
        View school on Get information about schools (opens in new tab)
      </a>
    </p>

  </div>
</div>

{% endblock %}
